.product-container-main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  text-align: left;
  color: black;
}

.product-image-container {
  display: flex;
}


.info-container {
  margin-bottom: 15px;
  margin-left: 50px;
  width: 90%;
}

.product-details-container {
  flex: 1;
  margin-left: 80px;
  min-width: 40%;
}

.product-info-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info-card h1 {
  margin-top: 0;
  font-family: alternate-gothic-atf, sans-serif;
}

.product-info-card h3 {
  margin-top: 0;
}

.product-info-card p {
  margin-top: 5px;
  font-family: futura;
}

.purchase {
  width: 100%;
  height: 50px;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #f4c256;
  margin: 5px;
  margin-bottom: 30px;
  font-size: 25px;
}

.purchase:hover {
  border: 2px solid #dd6543;
}

.purchase:active {
  border: 2px solid white;
}

.pricing {
  font-size: 23px;
  padding-top: 15px;
  margin-left: 5px;
}


@media screen and (max-width: 900px) {
  .product-container-main {
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-details-container {
    margin-left: 0;
    margin-top: 20px;
  }

  .product-image-container {
    padding-top: 50px;
    flex-direction: column;
  }
}