.about-us-section {
    width: 90vw;
    margin: 0 auto;
    margin-top: 8vh;
    padding-bottom: 50px;
    padding-top: 30px;
    background-color: white;
}

.horizontal-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: black;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    padding-right: 100px;
    width: 90vw;
}

.horizontal-info p {
    text-align: left;
    font-size: 25px;
    margin-top: 50px;
    width: 100%;
    margin-left: 10%;
}

.horizontal-info h1 {
    text-align: center;
    font-size: 60px;
    margin-left: 400px;
}

.horizontal-info h1 span {
    display: block; 
    line-height: 0.9; 
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 200px;
}

.brand_name {
    font-size: 5rem;
    color: #60c1c9;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .about-us-section {
        padding-top: 50px;
    }

    .horizontal-info h1 span {
        line-height: 0.8; 
        font-size: 10rem;
    }

    .horizontal-info h1 {
        font-size: 3rem;
        text-align: left;
        margin-left: -1rem;
        text-align: center;
    }

    .horizontal-info p {
        margin-top: 20px;
    }
    
    .horizontal-info {
        grid-template-columns: 1fr;
        padding-right: 0;
        flex-direction: column;
    }

    .horizontal-info p {
        text-align: left;
        padding: 30px;
    }
}

.vertical-info {
    display: grid;
    grid-template-columns: 1fr;
    color: black;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
}

.vertical-info p {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    width: 100%;
}

.vertical-info h1 {
    font-size: 50px;
    text-align: left;
}

.vertical-info.show h1 {
    font-size: 70px;
    text-align: center;
}

.horizontal-info .vertical-info h1 {
    font-size: 80px;
    margin: 0px;
    width: 100%;
}

.horizontal-info .vertical-info p {
    margin: 0;
    text-align: left;
}

.horizontal-slider {
    padding: 5%;
}

@media screen and (max-width: 768px) {
    .horizontal-slider {
        padding: 20px;
    }

    .vertical-info {
        padding-bottom: 0px;
        margin-bottom: 50px;
    }


    .vertical-info img{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .horizontal-info .vertical-info h1 {
        text-align: center;
    }

    .horizontal-info .vertical-info p {
        text-align: center;
        width: 100%;
    }
}

.about-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 8vh;
}

@media only screen and (min-width: 768px) {
    .about-card-info {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }


}


.horizontal-info img {
    max-width: 100%;
    height: auto;
}

.standout_info {
    background-color: #f6f3dd;
    padding: 90px 50px;
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.standout_info p {
    margin-top: 2vh;
}

.standout_info img {
    filter: brightness(0.98);
    -webkit-filter: brightness(0.98);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}