.product-section {
    display: block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    background-color: #f7f7f7;
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
  }
  
  .product-image img {
    width: auto;
    height: 100vh;
    object-fit: contain;
    border-radius: 10px;
    align-items: flex-start;
    vertical-align: middle;
  }
  
  .product-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    color: #fff;
    z-index: 1; /* ensure it's on top of the image */
    padding-left: 20%;
  }
  
  .product-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-description p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .product-description button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
  }
  
  .product-description button:hover {
    background-color: #3e8e41;
  }

