.navbar-wrapper.scrolled .navbar {
  background-color: #60c1c9;
}

.navbar {
  width: 100vw;
  max-width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10000;
}

.navbar:hover {
  background-color: #60c1c9;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-logo.button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.navbar-logo {
  display: block;
  width: auto;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar-title {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 3rem;
}

.navbar-link {
  color: #f6f3dd;
}

.navbar-link:hover {
  color: #f4c256;
}

.navbar-actions {
  align-items: center;
  display: flex;

}

.navbar-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.navbar-button:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.navbar-button:active {
  transform: scale(0.9); /* Scale down when clicked */
}

.navbar-button::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 18px;
  background-color: #00566B; /* Color of the shopping cart */
  top: 12px;
  left: 10px;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease; /* Smooth transition for color */
}

.navbar-button:hover::before {
  background-color: #f6f3dd; /* Change color on hover */
}

.navbar-button::after {
  content: '';
  position: absolute;
  width: 10px; /* Width of the handle */
  height: 5px; /* Height of the handle */
  background-color: #00566B; /* Color of the handle */
  top: 7px; /* Position it at the top */
  left: 5px; /* Align it with the body */
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease; /* Smooth transition for color */
}

.navbar-button:hover::after {
  background-color: #f6f3dd; /* Change color on hover */
}

.wheel1, .wheel2 {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: #00566B; /* Color of the wheels */
  border-radius: 50%;
  bottom: 5px; /* Position from the bottom */
  transition: background-color 0.3s ease; /* Smooth transition for color */
}

.navbar-button:hover .wheel1,
.navbar-button:hover .wheel2 {
  background-color: #f6f3dd; /* Change color on hover */
}

.wheel1 {
  left: 10px; /* Position the first wheel */
}

.wheel2 {
  right: 12px; /* Position the second wheel */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar-button {
    width: 40px;
    height: 40px;
  }
  .navbar-button::before {
    width: 24px;
    height: 14px;
    top: 11px;
    left: 8px;
  }
  .navbar-button::after {
    width: 8px;
    height: 4px;
    top: 6px;
    left: 4px;
  }
  .wheel1, .wheel2 {
    width: 9px;
    height: 9px;
    bottom: 4px;
  }
  .wheel1 {
    left: 8px;
  }
  .wheel2 {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .navbar-button {
    width: 30px;
    height: 30px;
  }
  .navbar-button::before {
    width: 18px;
    height: 10px;
    top: 8px;
    left: 6px;
  }
  .navbar-button::after {
    width: 6px;
    height: 3px;
    top: 4px;
    left: 3px;
  }
  .wheel1, .wheel2 {
    width: 7px;
    height: 7px;
    bottom: 3px;
  }
  .wheel1 {
    left: 6px;
  }
  .wheel2 {
    right: 7px;
  }
}

.shopping-cart-icon {
  width: 24px;
  /* Adjust the size as needed */
  height: 24px;
  /* Adjust the size as needed */
  color: #f2f2f2;
  fill: #fff;
}


.sidebar-overlay {
  position: fixed;
  top: 80px;
  /* Height of the navbar */
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 999;
  /* Ensure the overlay is above other content */
  display: flex;
  justify-content: flex-end;
  /* Start from the right */
  align-items: center;
  color: black;
}

.sidebar {
  background-color: white;
  width: 30%;
  /* 30% of the screen width */
  height: 100%;
  /* 100% of the screen height */
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  /* Add shadow for depth */
}

/* Additional styling for sidebar content */
.sidebar h2 {
  margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .navbar-menu {
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

  .navbar-actions {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

}



@media screen and (max-width: 850px) {
  .sidebar {
    width: 75%;
  }

}