.payment-complete-container {
  margin-top: 10vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f0f0f0;
  color: black;
}

.order-details {
  margin-top: 20px;
  padding-left: 5em;
  padding-right: 5em;
}

.order-details p {
  margin-bottom: 8px; 
}

.order-details a {
  color: #007bff;
  text-decoration: none;
}

.order-details a:hover {
  text-decoration: underline;
}

.cart-details {
  margin-top: 20px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center; 
}

.cart-item .item-info {
  width: 60%;
}

.cart-item .item-name {
  font-weight: bold;
  margin-bottom: 4px; 
}

.cart-item .item-meta {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 4px;
}

.cart-item .item-price {
  width: 20%;
  text-align: right;
}

.cart-summary {
  text-align: right;
  padding-top: 10px;
  padding-right: 20%;
}
.customer-title {
  text-align: right; /* Ensures titles are left-aligned */
}

.customer-info {
  justify-content: right; /* Center the entire flex container */
  width: 100%; /* Optional: full width */
  text-align: right; /* Ensure text inside flex container is left-aligned */
  gap: 20%;
}

.price-separator {
  margin-left: 20px; /* Adjust spacing as needed */
}


@media (max-width: 768px) {
  .order-details {
    padding-left: 0em;
    padding-right: 0em;
  }

  .cart-item {
    flex-direction: column;
    text-align: left; 
  }
  
  .cart-item .item-info {
    width: 100%; 
  }
  
  .cart-item .item-price {
    width: 100%;
    text-align: right; 
    margin-top: 8px; 
  }

  .cart-summary {
    width: 100%;
    text-align: right; 
    margin-top: 8px; 
    padding-right: 2%;
  }
}
