.product-info-area {
    background-color: transparent !important;
    text-align: left;
}

.product-info-area h2 {
    margin-bottom: 15px;
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 28px;
    text-align: left;
}

@font-face {
    font-family: photo_script;
    src: url('../ps.otf');
}

.product-info-area h4 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.2px;
    margin-bottom: 15px;
}

.product-info-area p {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: left;
}

.size-selection {
    display: flex;
}

.size-selection button {
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    flex: 1;
    color: black;
    background-color: white;
}


.size-selection button.selected {
    border-color: blue;
}

.size-selection button span {
    display: block;
}