.product-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  color: black;
}

.product-image-container {
  display: flex;
}


.info-container {
  margin-bottom: 40px;
}

.product-details-container {
  flex: 1;
  margin-left: 80px;
  min-width: 40%;
}

.product-info-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info-card h1 {
  margin-top: 0;
  font-family: alternate-gothic-atf, sans-serif;
}

.product-info-card h3 {
  margin-top: 0;
}

.product-info-card p {
  margin-top: 5px;
  font-family: futura;
}

.purchase {
  width: 100%;
}


@media screen and (max-width: 900px) {
  .product-container-main {
    flex-direction: column;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-details-container {
    margin-left: 0;
    margin-top: 20px;
  }

  .product-image-container {
    flex-direction: column;
  }
}