.label-section {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: auto;
  flex-direction: row;
  align-items: center;
  background-color: var(--accent);
  background: rgb(246, 243, 221);
  background: linear-gradient(180deg, rgba(246, 243, 221, 1) 0%, rgba(96, 193, 201, 1) 100%);
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 80px;
}

.label-image {
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
}

.label-image img {
  width: 80vw;
  height: 60vh;
  object-fit: cover;
  border-radius: 10px;
  align-items: flex-start;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.label-description {
  position: absolute;
  border-radius: 10px;
  top: -0.8%;
  left: 0;
  width: 100%;
  height: 100%;
  gap: 3.5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  color: #fff;
  z-index: 1;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.445);
}

.label-description h2 {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: normal;
  margin-bottom: 0px;
  margin: 0;
}

.label-description h2:first-of-type {
  margin-top: 2vh;
}

.first_letters {
  display: inline-block;
  font-family: alternate-gothic-atf, sans-serif !important;
  font-size: 8rem;
  width: 3.5vw;
  color: #f4c256;
  margin-right: 2px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}


.label-description p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-link {
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 22px;
  margin-top: auto;
  cursor: pointer;
  width: 15%;
  transition: background-color 0.5s ease;
  text-align: center;
}

.button-link:hover {
  background-color: #ffd57b;
}

@media screen and (max-width: 768px) {
  .label-section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 60px;
  }

  .label-image img {
    width: 90vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    align-items: flex-start;
  }

  .label-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align items to the start (top) */
    align-items: flex-start;
    /* Align items to the start (left) */
    height: 100%;
    /* Ensure the description takes up the full height */
  }

  .label-description .button-link {
    width: 40%;
    align-self: flex-start;
    /* Align button to the start (left) */
    margin-top: auto;
    /* Push button to the bottom */
  }

  .label-description h2 {
    text-align: left;
    margin: 5px 0;

  }

  .first_letters {
    width: 4rem;
  }

  .button-link {
    font-size: 19px;
  }
}