.product-section {
  display: block;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.product-image {
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}

.product-image img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  align-items: flex-start;
  vertical-align: middle;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.product-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;

}

.product-description h2 {
  font-size: 3.2vw;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 45%;
  color: transparent;
  background: rgb(131, 205, 206);
  background: linear-gradient(90deg, rgba(131, 205, 206, 1) 0%, rgba(246, 243, 221, 1) 65%, rgba(96, 193, 201, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (max-width: 1200px) {
  .product-description h2 {
    font-size: 4.2vw;
  }
}

@media (max-width: 992px) {
  .product-description h2 {
    font-size: 5.2vw;
  }
}

@media (max-width: 768px) {
  .product-description h2 {
    font-size: 6.2vw;
  }
}

@media (max-width: 576px) {
  .product-description h2 {
    font-size: 7.2vw;
  }
}

.product-description p {
  font-size: 2.3rem;
  margin-bottom: 10px;
  font-weight: 100;
  letter-spacing: 5px;
  font-family: Playlist;
}

.product-description button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 15%;
  margin-top: 2vh;
  transition: background-color 0.5s ease;
}

.product-description button:hover {
  background-color: #ffd781;
}

/* For small screens */
@media screen and (max-width: 768px) {
  .product-section {
    height: 90vh;
  }

  .product-description {
    text-align: center;
    align-items: center;
    justify-content: end;
    padding: 20px;
    padding-bottom: 50px;
  }

  .product-description h2 {
    text-align: center;
    max-width: 100%;
  }

  .product-image {
    margin: 0 auto;
    overflow: hidden;
  }

  .product-image img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }

  .product-description button {
    width: 80vw;
  }
}