.product-section {
  display: block;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.product-image {
  position: relative;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}

.product-image img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  align-items: flex-start;
  vertical-align: middle;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}

.product-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 1;

  padding-left: 10%;
  padding-right: 10%;
  border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -ms-border-radius: 0px 0px 10px 10px;
  -o-border-radius: 0px 0px 10px 10px;
}

.product-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 50%;
}

.product-description p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 1px;
}

.product-description button {
  background-color: #f4c256;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.5s ease;
}

.product-description button:hover {
  background-color: #ffd781;
}

/* For small screens */
@media screen and (max-width: 768px) {
  .product-section {
    height: 90vh;
  }

  .product-description {
    text-align: center;
    align-items: center;
    justify-content: end;
    padding: 20px;
    padding-bottom: 50px;
  }

  .product-description h2 {
    text-align: center;
    max-width: 100%;
  }

  .product-image {
    margin: 0 auto;
    overflow: hidden;
  }

  .product-image img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }

  .product-description button {
    width: 80vw;
  }
}