.label-section {
  display: flex;
  justify-content: center;
  width: 60vw;
  height: auto;
  flex-direction: row;
  align-items: center;
  background-color: #f6f3dd;
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 80px;
}

.label-image {
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
}

.label-image img {
  width: 80vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 10px;
  align-items: flex-start;
}

.label-description {
  position: absolute;
  border-radius: 10px;
  top: -0.8%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  color: #fff;
  z-index: 1;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.445);
}

.label-description h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
}

.label-description h2::first-letter {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}


.label-description p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.label-description button {
  background-color: #bd6543;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
  transition: background-color 0.5s ease; 
}

.label-description button:hover {
  background-color: #f4c256;
}

@media screen and (max-width: 768px) {
  .label-section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 60px;
  }

  .label-image img {
    width: 90vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    align-items: flex-start;
  }

  .label-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (top) */
    align-items: flex-start; /* Align items to the start (left) */
    height: 100%; /* Ensure the description takes up the full height */
  }

  .label-description button {
    width: 50%;
    align-self: flex-start; /* Align button to the start (left) */
    margin-top: auto; /* Push button to the bottom */
  }

  .label-description h2 {
    text-align: left;
    margin: 5px 0; /* Adjust margin for h2 elements */
    
  }
}
