.product-info-area {
    background-color: transparent !important;
    text-align: left;
}

.product-info-area h2 {
    margin-bottom: 15px;
    font-family: alternate-gothic-atf, sans-serif;
    font-size: 60px;
    text-align: left;
}

@font-face {
    font-family: photo_script;
    src: url('../ps.otf');
}

.product-info-area h4 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -0.2px;
    margin-bottom: 15px;
    font-family: futura, sans-serif !important;
}

.product-info-area p {
    margin-bottom: 15px;
    font-size: 26px;
    text-align: left;
}

.product-info-area .pricing {
    font-family: futura, sans-serif;
    font-size: 35px;
}

.size-selection {
    display: flex;
}

.size-selection button {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    flex: 1;
    color: black;
    background-color: #f6f3dd;
    font-size: 18px;
}

.size-selection button:hover {
    border-color: #dd6543;
}

.size-selection button.selected {
    background-color: #f4c256;
}

.size-selection button span {
    display: block;
}